	<div class="new-school">
		
		<h2 class="link" id="two">Back</h2>
		<%= form_for @school do |x| %>
			<%= x.text_field :name, :class => "input", :placeholder => "School Name", :style => "width:590px; height:50px; margin-left:100px; margin-top:30px; padding-left:10px; font-size:18px;" %>
			<%= x.text_field :image, :class => "input", :placeholder => "Image Url", :style => "width:590px; height:50px; margin-left:100px; margin-top:40px; padding-left:10px; font-size:18px;" %>
			<%= x.number_field :division, :class => "input", :placeholder => "Athletic Division", :style => "display:inline-block; height:50px; margin-left:100px; margin-top:40px; padding-left:10px; font-size:18px; width:168px;" %>
			<%= x.number_field :proximity, :class => "input", :placeholder => "Distance (hrs)", :style => "display:inline-block; height:50px; margin-left:25px; margin-top:40px; padding-left: 10px; font-size:18px; width:168px;" %>
			<%= x.number_field :population, :class => "input", :placeholder => "Population (K)", :style => "display:inline-block; height:50px; margin-left:25px; margin-top:40px; padding-left:10px; font-size:18px; width:168px;" %>
			<%= x.number_field :computer_science_rank, :class => "input", :placeholder => "CS Rank", :style => "display:inline-block; height:50px; padding-left:10px; margin-left:100px; margin-top:40px; font-size:18px; width:168px;" %>
			<%= x.number_field :tuition, :class => "input", :placeholder => "Tuition (K)", :style => "display:inline-block; height:50px; margin-left:25px; margin-top:40px; padding-left:10px; font-size:18px; width:168px;" %>
			<%= x.number_field :act_score, :class => "input", :placeholder => "Avg. ACT Score", :style => "display:inline-block; height:50px; margin-left:25px; margin-top:40px; padding-left:10px; font-size:18px; width:168px;" %>
			<%= x.submit "New School", :id => "submit", :style => "margin-top:30px; height:80px; width:240px; color:white; margin-left:280px; cursor: pointer; font-size:18px;" %>
		<% end %>
	</div>


<div class="container" id="main">

	<h2 class="link" id="one">New School</h2>

	<div class="sort">Sort By <div class="tri" id="up">▽</div>

		<div class="options">
			<div class="choice" id="choice-one"><%= link_to "None", '/' %></div>
			<div class="choice" id="choice-two"><%= link_to "Proximity", '/proximity' %></div>
			<div class="choice" id="choice-three"><%= link_to "Population", '/population' %></div>
			<div class="choice" id="choice-four"><%= link_to "CS Rank", '/rank' %></div>
			<div class="choice" id="choice-five"><%= link_to "Tuition", '/tuition' %></div>
		</div>

	</div>


	<% @school_division.each do |x| %>

		<div class="school">
			<div class="order-info">D<%= x.division %></div>
			<div class="school-name"><%= x.name %></div>
			<div class="school-click">
				<%= link_to 'View', "/schools/#{x.id}", :style => "margin-left:55px; text-decoration:none; float:left; display:inline-block;" %>
				<%= link_to 'Edit', "/edit/#{x.id}", :style => "margin-left:-10px; text-decoration:none; display:inline-block;" %>
				<%= link_to 'Delete', "/delete/#{x.id}", :style => "margin-right:55px; text-decoration:none;
					float:right; display:inline-block;" %>
			</div>	
		</div>

	<% end %>

</div>

